.filter-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000; // temporary
  background-color: rgba(243,245,244,0.98);

  .content {
    @extend .general-max-width.centre;
    @extend .thick-top-border;

    $padding: map_get($header-config, padding);

    padding-top: $padding;
    position: relative;

  }

}

  .filter-dropdown__close {

    $padding: map_get($header-config, padding);

    @include border-radius(50%);
    border: 2px solid #E1E1E1;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: $padding;
    right: 0;
  }

  .filter-dropdown__subtitle {
  }

  .filter-dropdown__results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 800px;
    width: 400px;
  }

  .filter-dropdown__option {
    @extend .heading--large;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 120px;

    &.filter-dropdown__option--divider {
      cursor: default;
      width: 40px;
      height: 5px;
      background-color: #{map_get($typography-colors, heading--large)};
      margin: 40px 0;
    }

    &.state--selected {
      color: #{map_get($colours-defined, vibrantShade)};
    }

  }

    .filter-dropdown__section {
      margin-bottom: 45px;
      padding-bottom: 45px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 6px;
        background-color: #{map_get($typography-colors, heading--large)};
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
      }

    }
