.heading--site {
  color: #{map_get($typography-colors, heading--site)};
  font-size: 28px;
  font-weight: 300;
}

.heading--large {
  color: #{map_get($typography-colors, heading--large)};
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
}

.heading--faint {
  color: #{map_get($typography-colors, heading--faint)};
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading--medium {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.heading--medium-sub {
  color: #{map_get($typography-colors, heading--medium-sub)};
  font-size: 15px;
}
