<div class="event-preview-card">
  <div class="event-preview-card__top">
    <div class="event-preview-card__thumb"></div>
    <div class="event-preview-card__top__side">
      <div class="event-preview-card__time">
        <div class="event-preview-card__time__icon-wrapper">
          <span class="icon icon-clock"></span>
        </div>
        <div class="event-preview-card__time__text">
          <div class="event-preview-card__time__when">in 3 days</div>
          <div class="event-preview-card__time__date">Mon 4th, July</div>
        </div>
      </div>
      <div class="event-preview-card__follow-wrapper">
        <button class="btn btn--mini btn--mini--spread">
          <span class="icon icon-star"></span>
          <span class="text">Follow</span>
        </button>
      </div>
    </div>
  </div>
  <div class="event-preview-card__main">
    <h3 class="event-preview-card__title">
      <a href="">
        Event title
      </a>
    </h3>
    <p class="event-preview-card__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur doloremque et, ex fuga id.
    </p>
  </div>
  <div class="event-preview-card__footer">
    <a href="" class="event-preview-card__comment-link icon-link">
      <span class="icon icon-comment"></span>
      <span class="text">1,423</span>
    </a>
  </div>
</div>
